body {
    font-family: "Microsoft YaHei UI";
}

.top-bar {
    padding: 0 8%;
}

.slider-track-high {
    background: #EEE !important;
}

.slider-tick.round {
    background: #DDD;
}

.content {
    padding: 2rem;
    margin-top: 56px;
}

.nav-link {
    cursor:pointer;
}

h2 {
    font-size: 18px;
    border-bottom: solid 1px #DDD;
    padding:0 10px 16px 10px;
}

.well {
    padding:0 20px !important;
    background: #FFF;
}

.clickable-icon {
    cursor: pointer;
    color: #2e6da4;
    font-size:2rem;
}

.goods-thumb {
    cursor:pointer;
}