<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/mycss/style.css" rel="stylesheet"/>
    <link href="/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/showloading/showloading.css" rel="stylesheet"/>

    <title>收纳趴</title>
</head>

<body>

<nav th:include="top::top" class="navbar navbar-inverse navbar-fixed-top top-bar"></nav>

<div role="main" class="container" style="width:100% !important;">
    <div class="content">
        <div class="well" style="padding:20px">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                <span>物品管理</span>
                                <div class="nav navbar-right panel_toolbox" style="min-width:20px;margin:0;float:right">
                                    <span class="clickable-icon" style="margin-right:6px;" id="addGoods">
                                        <span class="collapse-link" data-toggle="tooltip" data-container="body"
                                           data-placement="top"
                                           title="新增物品">
                                            <i class="fa fa-plus-circle"></i>
                                        </span>
                                    </span>
                                    <span class="clickable-icon" id="deleteGoods">
                                        <span class="collapse-link" data-toggle="tooltip" data-container="body"
                                           data-placement="top"
                                           title="删除物品">
                                            <i class="fa fa-trash-o"></i>
                                        </span>
                                    </span>
                                </div>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content chart-content">
                            <div style="min-height:100%;padding: 0 0 20px 0;" id="goodsTableContent">
                                <table id="goodsTable"
                                       class="table table-condensed table-striped standard-table"
                                ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="addGoodsModal" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog modal-lg" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        style="position:relative;top:0.4rem;">
                    <i style="color: #b70000" class="glyphicon glyphicon-remove"></i>
                </button>
                <h4 class="modal-title" id="modalTitle">
                    添加物品
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="goodsId"/>
                    <div class="form-group">
                        <label for="goodsName">名称 *</label>
                        <input type="text" class="form-control" id="goodsName" placeholder="填写物品名称"/>
                    </div>
                    <div class="form-group">
                        <label for="typeList" style="display:block">分类 *</label>
                        <div id="typeList">
                            <select class="selectpicker" data-width="fit" id="goodsType">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="owner">所有者</label>
                        <input type="text" class="form-control" id="owner" placeholder="所有者姓名，或者爸爸妈妈等"/>
                    </div>
                    <div class="form-group">
                        <label for="location">存放位置</label>
                        <input type="text" class="form-control" id="location" placeholder="描述物品存放位置"/>
                    </div>
                    <div class="form-group">
                        <label>价格</label>
                        <div class="input-group">
                            <span class="input-group-addon">¥</span>
                            <input type="number" id="price" class="form-control" placeholder="物品购买价格"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="buyTime">购买时间</label>
                        <input type="date" class="form-control" id="buyTime" placeholder="物品购买时间"/>
                    </div>
                    <div class="form-group">
                        <label for="comment">备注</label>
                        <textarea class="form-control" id="comment" placeholder="物品备注信息" style="max-width:100%"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tagContent">标签</label><span style="margin-left:10px;font-size:12px;color:#888">( 输入后回车添加标签 )</span>
                        <div id="tagContent">
	                        <input class="form-control" id="tag" style="width:100px;"/>
	                        <div id="tagList" class="nice-scroll" style="padding:10px 0 10px 0;overflow-x:auto;overflow-y:hidden">
	                        </div>
	                    </div>
                    </div>

                    <div class="form-group" id="upload">
                        <label style="display:block">物品图片</label>
                        <div>
                            <div class="file-container"
                                 style="display:inline-block;position:relative;
                                 overflow: hidden;vertical-align:middle;">
                                <button id="uploadButton" class="btn btn-default fileinput-button" type="button">上传</button>
                                <input id="uploadFile" type="file"
                                       onchange="loadFile(this.files[0])"
                                       style="display:none"/>
                            </div>
                            <img id="uploadThumb" src="" style="max-width:100%;width:auto;vertical-align: middle;margin-top:6px;display: block;"/>
                        </div>
                    </div>

                    <hr/>
                    <div class="form-group" style="text-align: center;margin-top:30px">
                        <button id="submitAddGoodsButton" type="button" class="btn btn-success">确认添加物品</button>
                        <button id="submitEditGoodsButton" type="button" class="btn btn-success" style="display:none">提交修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/bootstrap-table/bootstrap-table-locale-all.js"></script>
<script src="/showloading/jquery.showloading.min.js"></script>
<script src="/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/myjs/custom.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        init();
    });

    var backendUrl = [[${backendUrl}]];
    var userId = [[${user.userId}]];

    var currentEditingGoodsImageUrl = "";
    var allTypeList = [];

    var urls = {
        listAll: backendUrl+"/goods/list",
        getAllTypes: backendUrl+"/type/list",
        createGoods: backendUrl+"/goods/add",
        editGoods: backendUrl+"/goods/update",
        deleteGoodsList: backendUrl+"/goods/deleteGoodsList",
        findGoods: backendUrl+"/goods/{goodsId}",
        uploadImage: "uploadGoodsImg",
    };

    var formatter = {
        checkBoxFormatter: function(value,row) {
            return '<input type="checkbox" name="goodsCheck" data-goodsid="'+value+'"/>';
        },
        textFormatter: function(value,row) {
            var result = value;
            if(!value)
                result = '-';
            return result;
        },
        tagFormatter: function(value,row) {
            var result = "";
            var tags = value.split(",");
            for(var i=0;i<tags.length;i++){
                var tag = tags[i];
                if(tag && tag !== '') {
                    result += '<span style="height:16px;border-radius:12px;padding:4px 8px;margin-right:6px" class="label label-info">' +
                            tag +
                        '</span>';
                }
            }
            if(!value || value === ''){
                result = '-';
            }
            return result;
        },
        pictureFormatter: function(value,row){
            var html = '<span style="cursor:pointer;color:#2e6da4" class="fa fa-television picture-detail" data-url="'+value+'"></span>';
            if(!value || value === '')
                html = '-';
            return html;
        },
        editFormatter: function(value,row){
            var html = '<span style="cursor:pointer;color:#2e6da4" class="fa fa-edit edit" data-id="'+value+'"></span>' +
                       '<span style="margin:0 6px;color:#888">|</span>' +
                       '<span style="cursor:pointer;color:#2e6da4" class="fa fa-picture-o show-plan" data-id="'+value+'"></span>';
            return html;
        }
    }

    var columns = [
        {
            title: '',
            field: 'goodsId',
            valign: 'middle',
            halign: 'center',
            align: 'center',
            sortable: false,
            formatter: formatter.checkBoxFormatter
        }, {
            title: '物品名称',
            field: 'goodsName',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.textFormatter
        },
        {
            title: '所有者',
            field: 'owerName',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.textFormatter
        },
        {
            title: '位置描述',
            field: 'location',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.textFormatter
        },
        {
            title: '物品分类',
            field: 'typeName',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.typeFormatter
        },
        {
            title: '价格',
            field: 'price',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.textFormatter
        },
        {
            title: '购买时间',
            field: 'buyTime',
            valign: 'middle',
            halign: 'center',
            sortable: true,
            formatter: formatter.textFormatter
        },
        {
            title: '标签',
            field: 'tag',
            valign: 'middle',
            halign: 'center',
            sortable: false,
            formatter: formatter.tagFormatter
        },
        {
            title: '备注',
            field: 'goodsComment',
            valign: 'middle',
            halign: 'center',
            sortable: false,
            formatter: formatter.textFormatter
        },
        {
            title: '预览',
            field: 'picture',
            valign: 'middle',
            halign: 'center',
            align: 'center',
            sortable: false,
            visible: true,
            formatter: formatter.pictureFormatter
        },
        {
            title: '操作',
            field: 'goodsId',
            valign: 'middle',
            halign: 'center',
            align: 'center',
            sortable: false,
            visible: true,
            formatter: formatter.editFormatter
        }
    ];


    function init(){
        $('[data-toggle="tooltip"]').tooltip();
        
        //点击上传按钮的时候触发上传input点击（上传input太丑了隐藏了）
        $("#uploadButton").click(function(){
        	$("#uploadFile").trigger('click');
        })

        $('#addGoods').click(function(){
            $("#addGoodsModal").modal('show');
            initAddModal();
        });
        
        $("#tag").bind('keypress',function(event){
            if(event.keyCode == 13) {
            	var html = '<span data-tagvalue="'+$("#tag").val()+'" ' +
                    'style="height:20px;border-radius:13px;padding:6px 10px;margin-right:6px" class="label label-info">'+
            	$("#tag").val()+
            	'<i class="fa fa-times" style="color:#FFF;margin-left:6px;cursor:pointer" onclick="delTag(this)"></i>'+
            	'</span>'
                $("#tagList").append(html);
                $("#tag").val('');
            } 
        });

        //关闭对话框后当前文件url清空
        $('#addGoodsModal').on('hidden.bs.modal', function (e) {
            currentEditingGoodsImageUrl = "";
        });

        //添加物品
        $("#submitAddGoodsButton").click(function(){
            updateGoods('add');
        });

        //修改物品
        $("#submitEditGoodsButton").click(function(){
            updateGoods('edit');
        });

        //删除物品
        $("#deleteGoods").click(function(){
            var deleteGoodsIdList = [];
            var checkedItems = $("input[name='goodsCheck']:checked");
            for(var i=0;i<checkedItems.length;i++){
                var item = checkedItems[i];
                deleteGoodsIdList.push($(item).data('goodsid'));
            }
            if(deleteGoodsIdList.length > 0) {
                swal("确认要删除已勾选的物品吗?", {
                    icon: "warning",
                    buttons: ["我再想想","决定了,删除"],
                    dangerMode: true
                }).then(function (value) {
                    if (value) {
                        deleteGoodsList(deleteGoodsIdList);
                    }
                });
            } else {
                swal("还没有勾选要删除的物品哟", {
                    icon: "warning",
                    buttons: {true:"好的"}
                })
            }
        });

        getAllGoodsType();
        initGoodsTable();
    }

    //获取所有物品类型
    function getAllGoodsType() {
        $.ajax({
            url: urls.getAllTypes,
            type: 'post',
            contentType: "application/json",
            dataType:'json',
            success: function (data) {
                var typeList = data.typeList;
                allTypeList = typeList;
                //只取小类
                var smallTypeList = allTypeList.filter(function(item){
                    return item.parentTypeId;
                })

                for(var i=0;i<smallTypeList.length;i++) {
                    var type = smallTypeList[i];
                    $("#goodsType").append('<option value="'+type.typeId+'">'+type.typeName+'</option>');
                    $('#goodsType').selectpicker('refresh');
                }
            },
            error: function (e) {
                console.log("获取物品类型失败"+e);
            }
        });
    }

    //初始化物品列表
    function initGoodsTable() {

        $("#goodsTable").bootstrapTable('destroy');
        $("#goodsTable").bootstrapTable({
            locale:'zh-CN',
            url: urls.listAll,
            columns: columns,
            showColumns: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            dataType:'json',
            method: "post",
            search: true,
            escape: false,
            pageList: [10, 20, 30, 50, 100, 200, 300, 500],
            pagination: true,
            queryParams: function (params) {
                return {
                    userId: userId
                };
            },
            onPostHeader: function(result){

            },
            onLoadSuccess: function (data) {
                if(data && data.goodsList)
                    $("#goodsTable").bootstrapTable('load',data.goodsList);
            },
            onColumnSwitch: function(field, checked) {

            },
            onPostBody: function (data) {
                $(".picture-detail").popover({
                    content: function(){
                        return '<img src="'+$(this).data('url')+'" style="width:100px;"/>';
                    },
                    html: true,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });

                $(".edit").click(function(){
                    var goodsId = $(this).data('id');
                    if(goodsId){
                        $.ajax({
                            url: urls.findGoods.replace('{goodsId}',goodsId),
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                if(data && data.success) {
                                    initEditModal();

                                    var goods = data.goods;
                                    $("#addGoodsModal").modal('show');
                                    $("#goodsId").val(goods.goodsId);
                                    $("#goodsName").val(goods.goodsName);
                                    $("#goodsType").val(goods.typeId);
                                    $('#goodsType').selectpicker('refresh');
                                    $("#owner").val(goods.owerName);
                                    $("#location").val(goods.location);
                                    $("#price").val(goods.price);
                                    $("#buyTime").val(goods.buyTime);
                                    $("#comment").text(goods.goodsComment);
                                    var tags = goods.tag.split(",");
                                    for(var i=0;i<tags.length;i++){
                                        var html = '';
                                        if(tags[i] && tags[i] !== ''){
                                            html += '<span data-tagvalue="'+tags[i]+'" ' +
                                                'style="height:20px;border-radius:13px;padding:6px 10px;margin-right:6px" class="label label-info">'+
                                                tags[i]+
                                                '<i class="fa fa-times" style="color:#FFF;margin-left:6px;cursor:pointer" onclick="delTag(this)"></i>'+
                                                '</span>'
                                            $("#tagList").append(html);
                                        }
                                    }
                                    $("#uploadThumb").attr('src',goods.picture);
                                }
                            },
                            error: function (e) {
                                console.error(e);
                                $("#upload").hideLoading();
                                swal("获取物品信息失败，请重试", {
                                    icon: "error",
                                    buttons: {true:"好的"}
                                });
                            }
                        });
                    }
                })
            }
        });
    }

    function initAddModal(){
        $("#modalTitle").text('添加物品');
        $("#goodsName").val('');
        $("#goodsType").val('');
        $('#goodsType').selectpicker('refresh');
        $("#owner").val('');
        $("#location").val('');
        $("#price").val('');
        $("#buyTime").val('');
        $("#comment").text('');
        $("#tag").val('');
        $("#tagList").html('');
        $("#uploadThumb").attr('src','');
        $("#submitAddGoodsButton").show();
        $("#submitEditGoodsButton").hide();
    }

    function initEditModal(){
        $("#modalTitle").text('修改物品');
        $("#goodsId").val('');
        $("#goodsName").val('');
        $("#goodsType").val('');
        $('#goodsType').selectpicker('refresh');
        $("#owner").val('');
        $("#location").val('');
        $("#price").val('');
        $("#buyTime").val('');
        $("#comment").text('');
        $("#tag").val('');
        $("#tagList").html('');
        $("#uploadThumb").attr('src','');
        $("#submitAddGoodsButton").hide();
        $("#submitEditGoodsButton").show();
    }

    function delTag(obj){
    	console.log($(obj).parent('span'));
    	$(obj).parent('span').remove();
    }

    function deleteGoodsList(goodsIdList) {
        $('body').showLoading();
        $.ajax({
            url: urls.deleteGoodsList,
            type: 'post',
            data: JSON.stringify(goodsIdList),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if(data && data.success) {
                    swal("删除物品成功", {
                        icon: "success",
                        buttons: {true:"好的"}
                    }).then(function(value) {
                        initGoodsTable();
                    });
                } else {
                    swal("删除物品失败，请重试", {
                        icon: "error",
                        buttons: {true:"好的"}
                    });
                }
                $('body').hideLoading();
            },
            error: function (e) {
                console.error(e);
                $('body').hideLoading();
                swal("删除物品失败，请重试", {
                    icon: "error",
                    buttons: {true:"好的"}
                });
            }
        });
    }

    function loadFile(file){
        var ext = file.name.substring(file.name.lastIndexOf(".")+1,file.name.length);
        if (!file) {
            swal("请选择图片", {
                icon: "warning",
                buttons: {true:"好的"}
            });
            return;
        } else if (
            ext !== 'jpg'
            && ext !== 'jpeg'
            && ext !== 'png'
        ) {
            swal("请上传 jpg,jpeg,png 格式的图片", {
                icon: "warning",
                buttons: {true:"好的"}
            });
            return;
        } else if (file.size > 1024*1000) {
            swal("图片大小不能超过1MB", {
                icon: "warning",
                buttons: {true:"好的"}
            });
            return;
        } else {
            $("#upload").showLoading();
            var formData = new FormData();
            formData.append("file", file);
            formData.append("name", file.name);
            $.ajax({
                url: urls.uploadImage,
                type: 'post',
                data: formData,
                dataType: 'json',
                fileElementId: 'fileContent',
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                cache: false,
                traditional: true,
                success: function (data) {
                    $('#uploadThumb').attr('src', data.fileUrl);
                    currentEditingGoodsImageUrl = data.fileUrl;
                    $("#upload").hideLoading();
                    swal("上传图片成功", {
                        icon: "success",
                        buttons: {true:"好的"}
                    });
                },
                error: function (e) {
                    console.error(e);
                    $("#upload").hideLoading();
                    swal("上传图片失败，请重试", {
                        icon: "error",
                        buttons: {true:"好的"}
                    });
                }
            });
        }
    }


    //添加或者修改物品
    //type = 'add' or 'edit'
    function updateGoods(type){

        var goodsId = $("#goodsId").val();
        var goodsName = $("#goodsName").val();
        var goodsType = $("#goodsType").val();
        var warningText = "";
        if(!goodsName && goodsName === ''){
            warningText = "请填写物品名称";
        }
        else if(!goodsType && goodsType === ''){
            warningText = "请选择物品类型"+warningText;
        }

        if(warningText !== '') {
            swal(warningText, {
                icon: "warning",
                buttons: {true:"好的"}
            });
            return;
        }

        var owner = $("#owner").val();
        var location = $("#location").val();
        var price = $("#price").val();
        var buyTime = $("#buyTime").val();
        var comment = $("#comment").val();
        var tag = "";
        var tagDatas = $("#tagList").find("span");
        for(var i=0;i<tagDatas.length;i++) {
            var data = tagDatas[i];
            tag += $(data).data('tagvalue')+',';
        }

        var url = '';
        var words = '';
        var data;
        if(type === 'add') {
            url = urls.createGoods;
            words = '添加物品';
            data = JSON.stringify({
                userId: userId,
                goodsName: goodsName,
                typeId: goodsType,
                owerName: owner,
                picture: currentEditingGoodsImageUrl,
                location: location,
                tag: tag,
                price: price,
                buyTime: buyTime,
                comment: comment
            });
        }
        else if(type === 'edit') {
            url = urls.editGoods;
            words = '修改物品';
            data = JSON.stringify({
                goodsId: goodsId,
                goodsName: goodsName,
                typeId: goodsType,
                owerName: owner,
                picture: currentEditingGoodsImageUrl,
                location: location,
                tag: tag,
                price: price,
                buyTime: buyTime,
                comment: comment
            });
        }

        $("#addGoodsModal").showLoading();
        $.ajax({
            url: url,
            type: 'post',
            contentType: "application/json",
            dataType:'json',
            data: data,
            success: function (data) {
                $("#addGoodsModal").hideLoading();
                if(data.success){
                    swal(words+"成功", {
                        icon: "success",
                        buttons: {true:"好的"}
                    }).then(function(value) {
                        $("#addGoodsModal").modal('hide');
                        initGoodsTable();
                    });
                } else {
                    swal(words+"失败，请稍后重试", {
                        icon: "error",
                        buttons: {true:"好的"}
                    });
                }
            },
            error: function (e) {
                $("#addGoodsModal").hideLoading();
                swal(words+"失败，请稍后重试", {
                    icon: "error",
                    buttons: {true:"好的"}
                });
                console.log(words+"失败"+e);
            }
        });
    }
    //]]>
</script>
</body>
</html>
