<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/mycss/style.css" rel="stylesheet"/>
    <link href="/showloading/showloading.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.2/css/bootstrap-slider.min.css"
          rel="stylesheet"/>

    <title>储物整理</title>
</head>

<body>

<nav th:include="top::top" class="navbar navbar-inverse navbar-fixed-top top-bar"></nav>

<div role="main" class="container" style="max-width:100% !important;">
    <div class="content" style="padding:20px">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div>
                    <label for="zoom">图片缩放</label><br/>
                    <input id="zoom" type="text"
                           data-provide="slider"
                           data-slider-ticks="[1, 1.2, 1.4]"
                           data-slider-ticks-labels='["小", "中", "大"]'
                           data-slider-min="1"
                           data-slider-max="1.4"
                           data-slider-step="0.2"
                           data-slider-value="1"
                           data-slider-tooltip="hide"/>
                </div>

                <div id="edit" style="display: none">
                    <button type="button" class="btn btn-secondary">Check</button>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div id="planImage">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/showloading/jquery.showloading.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/myjs/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.2/bootstrap-slider.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var svgWidth;
    var svgHeight;

    var zoomNumber = 1;

    var backendUrl = [[${backendUrl}]];
    var userId = [[${user.userId}]];
    var buildingId = [[${buildingId}]];
    var svgViewboxScale = [[${svgViewboxScale}]];

    var urls = {
        list: backendUrl+'/hotPoint/list',
    }

    $(function () {

        initPlan();

        function refreshSvg(){
            $("#planImage").find("svg").html($("#planImage").find("svg").html());
            $('[data-toggle="tooltip"]').tooltip();
            $(".hot-point").click(function(event){
                console.log($(this).data("id"));
            });
        }

        function initPlan() {
            $.ajax({
                url: 'https://mokulive.oss-cn-shanghai.aliyuncs.com/house.svg',
                type: "get",
                dataType: "text"
            }).done(function (svg) {
                $("#planImage").html(svg);
                svgWidth = Number($("svg").eq(0).attr("viewBox").split(' ')[2])/svgViewboxScale;
                svgHeight = Number($("svg").eq(0).attr("viewBox").split(' ')[3])/svgViewboxScale;
                $("#planImage").css('width',svgWidth * zoomNumber+'px');
                $("#planImage").css('height',svgHeight * zoomNumber+'px');
                $("#planImage").showLoading();
                $.ajax({
                    url: urls.list,
                    type: 'post',
                    dataType:'json',
                    data: {
                        userId: userId,
                        buildingId: buildingId
                    },
                    success: function (data) {
                        $("#planImage").hideLoading();
                        if(data.success){
                            var hotPointList = data.hotPointList;
                            $.each(hotPointList,function(index,item){
                                var path = '<g style="cursor: pointer" class="hot-point" data-id="'+item.id+'"' +
                                    'data-toggle="tooltip" data-container="body" data-placement="left" title="'+item.hotPointName+'">' +
                                    '<path ' +
                                    ' d="M' + item.xstart*svgViewboxScale / zoomNumber + ' ' + item.ystart*svgViewboxScale / zoomNumber +
                                    ' L' + item.xend*svgViewboxScale / zoomNumber + ' ' + item.ystart*svgViewboxScale / zoomNumber +
                                    ' L' + item.xend*svgViewboxScale / zoomNumber + ' ' + item.yend*svgViewboxScale / zoomNumber +
                                    ' L' + item.xstart*svgViewboxScale / zoomNumber + ' ' + item.yend*svgViewboxScale / zoomNumber + ' Z" fill="rgba(253,161,103,0.6)">' +
                                    '</path>'+
                                    //                                    '<text style="font-size:'+Math.abs(item.xend-item.xstart)/8*svgViewboxScale / zoomNumber+'px;' +
                                    //                                    'text-anchor: middle;dominant-baseline: middle;fill:#666"'+
                                    //                                    'x="'+(Number(item.xstart)+Number(item.xend))/2*svgViewboxScale / zoomNumber+'" ' +
                                    //                                    'y="'+(Number(item.ystart)+Number(item.yend))/2*svgViewboxScale / zoomNumber+'" >'+item.hotPointName+'</text>'+
                                    '</g>';
                                $("#planImage").find("svg").append(path);
                            });
                            refreshSvg();

                        } else {
                            console.error(data);
                        }
                    },
                    error: function (e) {
                        $("#planImage").hideLoading();
                        console.error(e);
                    }
                });
            });
        }


        $("#zoom").change(function () {
            var val = $(this).val();
            zoomNumber = Number(val);
            $("#planImage").css("width", svgWidth * zoomNumber);
            $("#planImage").css("height", svgHeight * zoomNumber);
            if ($("#selectionArea").attr("id")) {
                $("#selectionArea").remove();
            }
            $("#addModal").modal('hide');
        });

    });
    //]]>
</script>
</body>
</html>
