body {
    font-family: "Microsoft YaHei UI";
}

.slider-track-high {
    background: #EEE !important;
}

.slider-tick.round {
    background: #DDD;
}

.content {
    padding: 2rem;
    margin-top: 56px;
}

.nav-link {
    cursor:pointer;
}